* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #5c5858;
}

header {
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #5c5858;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 150px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #5c5858;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

footer {
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #5c5858;
    text-align: center;
    padding: 1rem 0;
}

/* Gradient button styles */
.btn-grad {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #5c5858;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #5c5858;
    text-decoration: none;
}
